.breadcrumbs {
  font-family: PT Sans, 'Arial', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  color: var(--basic-black);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.breadcrumbs__item {
  margin-left: 50px;
}

.breadcrumbs__link {
  list-style: none;
  color: var(--basic-black);
  padding-right: 40px;
}

.arrow {
  position: relative;
}

.arrow::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -22px;
  top: 1px;
}

@media (max-width: 769px) {
  .breadcrumbs {
    flex-direction: column;
    padding-left: 20px;
  }

  .arrow::before {
    left: -10px;
  }

  .breadcrumbs__item {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .breadcrumbs__link:hover {
    opacity: 0.6;
  }
}
