.catalog__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--grey-catalog);
  color: var(--basic-grey);
  margin: 0 0 20px 0;
  padding: 29px 729px 29px 29px;
}

.catalog__body {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 21px;
}

@media (max-width: 1023px) {
  .catalog__body {
    display: flex;
    flex-direction: column;
  }
}
