.description {
  background-color: var(--basic-background);
}

.description__wrapper {
  padding: 64px 0 68px 0;
}

.description__title {
  font-size: 30px;
  line-height: 30px;

  margin: 0 0 25px 0;

  text-transform: uppercase;

  color: var(--basic-black);
}

p {
  font-family: PT Sans, 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;

  margin: 0;

  text-align: left;

  color: var(--basic-black);
}
