.description {
  background-color: var(--basic-background);
}

.description__wrapper{
  padding: 64px 0 68px 0;
}

.description__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0 0 25px 0;
}

p {
  font-family: PT Sans, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: var(--basic-black);
  margin: 0;
}

