.footer {
  background-color: var(--deeply-grey);
  box-shadow: 10px 10px 10px 10px var(--shadow);
}

.footer__container {
  display: grid;

  max-width: 940px;
  margin: 0 auto 41px auto;
  padding: 0;

  grid-template-columns: 35% 65%;
}

.footer__adress {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
}

.footer__logo {
  box-sizing: border-box;
  max-width: 220px;
  margin-bottom: 22px;
  padding: 20px 0 41px;

  transition: .5s ease-in-out;

  background-color: var(--basic-red);
  box-shadow: 0 5px 0 0 var(--red-buttona);
}

.footer__logo:active {
  background-color: var(--red-buttona);
}

.footer__adress p {
  font-size: 18px;
  line-height: 24px;

  max-width: 324px;
  margin: 0;

  color: var(--smoke);
}

.footer__link {
  font-size: 18px;
  line-height: 24px;

  text-decoration: none;

  color: var(--smoke);
}

.footer__navigation {
  margin: 37px 0 0;
  padding: 0;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  box-sizing: border-box;
  margin: 0 0 34px 0;

  list-style: none;

  grid-row: 1/2;
}

.footer__item {
  margin-right: 58px;
}

.footer__item:last-child {
  margin: 0;
}

.footer__link {
  font-size: 18px;
  line-height: 24px;

  margin: auto;

  color: var(--basic-background);
}

.footer__list--yellow .footer__link {
  color: var(--special-yellowfooter);
}

.footer__item a:active {
  text-decoration: none;

  opacity: .5;
  color: var(--basic-background);
}

.feedback {
  padding: 0 40px;

  background-color: var(--deep-grey);
}

.feedback__container {
  display: grid;

  max-width: 940px;
  margin: 0 auto;

  grid-template-columns: 1fr 1fr 1fr;
}

.feedback__container p {
  font-size: 16px;
  line-height: 18px;

  padding-top: 20px;

  color: var(--basic-white);

  grid-column: 1/2;
}

.feedback__link {
  color: var(--special-yellowfooter);
}

.feedback__link:active {
  color: var(--basic-red);
}

.feedback__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 34px 100px 0 0;
  padding: 0;

  list-style: none;

  grid-column: 2/3;
}

.feedback__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: var(--social-grey);
}

.feedback__block {
  margin-left: 15px;

  grid-column: 3/4;
  gap: 50px;
}


@media (max-width: 1023px) {
  .footer__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    margin: 0;
    padding: 0 40px;
  }

  .footer__list {
    justify-content: flex-start;

    padding: 0;
  }
}

@media (max-width: 990px) {
  .feedback__block {
    display: flex;
    flex-direction: column;

    gap: 0;
  }
}

@media (max-width: 800px) {
  .feedback__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .feedback__container p {
    margin-bottom: 20px;
  }

  .feedback__list {
    margin: 0 0 30px 0;
  }

  .feedback__block {
    margin: 0;
  }
}

@media (max-width: 769px) {
  .footer__container {
    padding: 0 20px;
  }

  .footer__logo svg {
    width: 100px;
  }

  .footer__navigation {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }

  .footer__list {
    flex-direction: column;
  }

  .footer__adress {
    width: 100%;
  }

  .feedback {
    padding: 0 20px;
  }
}

@media (min-width: 1024px) {
  .footer__logo:hover {
    opacity: .8;
  }

  .footer__item a:hover {
    text-decoration: underline;
  }

  .feedback__link:hover {
    text-decoration: underline;

    color: var(--special-yellowfooter);
  }

  .feedback__social-icon:hover,
  .feedback__social-icon:active {
    background-color: var(--basic-red);
  }
}
