.form {
  font-family: PT Sans, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-black);
}

.form__title {
  background-color: var(--special-light);
  font-family: PT Sans, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 10px 0 10px 18px;
  margin: 0 0 14px 0;
}

.form__block {
  padding: 0;
  margin: 0;
  border: none;
}

.form__block {
  margin-bottom: 30px;
}

.form__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  margin-top: 14px;
  margin-bottom: 11px;
}

.form__range-price {
  background-color: var(--special-light);
  padding: 20px 20px;
  margin-bottom: 9px;
}

.form__price-controls {
  display: flex;
  justify-content: space-between;
  align-self: center;
  box-sizing: border-box;
  margin-bottom: 42px;
  align-items: center;
}


.form__min-price,
.form__max-price {
  padding: 10px 0;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  background: var(--special-light);
  width: 95px;
}

.form__filter {
  position: relative;
}

.form__checkbox {
  display: none;
}

.form__checkbox+label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 23px;
  background-image: url(../img/icon-checkbox-square.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -2px;
  left: -1px;
}

.form__checkbox+label:hover::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 23px;
  background-image: url(../img/icon-checkbox-square-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -2px;
  left: -1px;
}

.form__checkbox:disabled:not(:checked)+label::before {
  opacity: 0.3;
}

.form__checkbox:checked+label::before {
  background-image: none;
}

.form__checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/icon-checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -2px;
  left: -1px;
}

.form__checkbox:checked:hover+label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/icon-checkbox-on-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -2px;
  left: -1px;
}

.form__checkbox:checked:disabled+label::after {
  opacity: 0.3;
}

.form__radio {
  display: none;
}

.form__radio+label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid var(--basic-greylight);
  border-radius: 50%;
  top: -3px;
  left: -2px;
}

.form__radio:hover+label::before {
  border: 3px solid var(--grey-checkbox);
}

.form__radio:disabled+label::before {
  opacity: 0.3;
}

.form__radio:checked+label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
  top: 5px;
  left: 6px;
}

.form__radio:checked:hover+label::after {
  background-color: var(--grey-checkbox);
}

.form__radio:focus+label {
  opacity: 0.5;
}

.form__radio:active+label {
  opacity: 0.5;
}

.form__label {
  font-family: PT Sans, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 35px;
  margin-bottom: 20px;
}

.form__button {
  font-family: PT Sans, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  padding: 10px 80px 10px 78px;
  border: 1px solid var(--border-grey);
  width: 220px;
  cursor: pointer;
  user-select: none;
}

.form__button:hover {
  border: 1px solid var(--basic-greylight);
}

.form__button:active {
  border: 1px solid var(--basic-red);
  outline: none;
}

.show-button {
  font-family: PT Sans, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  padding: 10px 80px 10px 78px;
  border: 1px solid var(--border-grey);
  width: 220px;
  cursor: pointer;
}

.show-button:hover {
  border: 1px solid var(--basic-greylight);
}

.show-button:active {
  border: 1px solid var(--basic-red);
  outline: none;
}

@media (min-width: 1024px) {
  
}
