.form {
  font-family: PT Sans, 'Arial', sans-serif;
  font-weight: normal;

  text-transform: uppercase;

  color: var(--basic-black);
}

.form__title {
  font-family: PT Sans, 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;

  margin: 0 0 14px 0;
  padding: 10px 0 10px 18px;

  text-transform: uppercase;

  color: var(--basic-black);
  background-color: var(--special-light);
}

.form__block {
  margin: 0;
  padding: 0;

  border: none;
}

.form__block {
  margin-bottom: 30px;
}

.form__legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;

  margin-top: 14px;
  margin-bottom: 11px;
}

.form__range-price {
  margin-bottom: 9px;
  padding: 20px 20px;

  background-color: var(--special-light);
}

.form__price-controls {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;

  box-sizing: border-box;
  margin-bottom: 42px;
}


.form__min-price,
.form__max-price {
  font-size: 17px;
  line-height: 18px;

  width: 95px;
  padding: 10px 0;

  text-align: center;

  background: var(--special-light);
}

.form__filter {
  position: relative;
}

.form__checkbox {
  display: none;
}

.form__checkbox + label::before {
  position: absolute;
  top: -2px;
  left: -1px;

  width: 24px;
  height: 23px;

  content: '';

  background-image: url(../img/icon-checkbox-square.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__checkbox:disabled:not(:checked) + label::before {
  opacity: .3;
}

.form__checkbox:checked + label::before {
  background-image: none;
}

.form__checkbox:checked + label::after {
  position: absolute;
  top: -2px;
  left: -1px;

  width: 27px;
  height: 23px;

  content: '';

  background-image: url(../img/icon-checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__checkbox:checked:disabled + label::after {
  opacity: .3;
}

.form__radio {
  display: none;
}

.form__radio + label::before {
  position: absolute;
  top: -3px;
  left: -2px;

  width: 20px;
  height: 20px;

  content: '';

  border: 3px solid var(--basic-greylight);
  border-radius: 50%;
}

.form__radio:disabled + label::before {
  opacity: .3;
}

.form__radio:checked + label::after {
  position: absolute;
  top: 5px;
  left: 6px;

  width: 9px;
  height: 9px;

  content: '';

  border-radius: 50%;
  background-color: var(--basic-greylight);
}

.form__radio:focus + label {
  opacity: .5;
}

.form__radio:active + label {
  opacity: .5;
}

.form__label {
  font-family: PT Sans, 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 19px;

  position: relative;

  display: block;

  margin-bottom: 20px;
  padding-left: 35px;

  cursor: pointer;
  user-select: none;
  text-transform: uppercase;

  color: var(--basic-black);
}

.form__button {
  font-family: PT Sans, 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;

  padding: 10px 80px 10px 78px;

  cursor: pointer;
  user-select: none;
  text-align: center;
  text-transform: uppercase;

  color: var(--basic-black);
  border: 1px solid var(--border-grey);
  background-color: var(--basic-white);
}

.form__button:active,
.form__show-btn:active {
  border: 1px solid var(--basic-red);
  outline: none;
}

.form__show-btn {
  font-family: PT Sans, 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;

  display: none;

  padding: 10px 80px 10px 78px;

  cursor: pointer;
  user-select: none;
  text-align: center;
  text-transform: uppercase;

  color: var(--basic-black);
  border: 1px solid var(--border-grey);
  background-color: var(--basic-white);
}

@media (min-width: 1024px) {
  .form__checkbox + label:hover::before {
    position: absolute;
    top: -2px;
    left: -1px;

    width: 24px;
    height: 23px;

    content: '';

    background-image: url(../img/icon-checkbox-square-hover.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .form__checkbox:checked:hover + label::after {
    position: absolute;
    top: -2px;
    left: -1px;

    width: 27px;
    height: 23px;

    content: '';

    background-image: url(../img/icon-checkbox-on-hover.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .form__radio:hover + label::before {
    border: 3px solid var(--grey-checkbox);
  }

  .form__radio:checked:hover + label::after {
    background-color: var(--grey-checkbox);
  }


  .form__button:hover {
    border: 1px solid var(--basic-greylight);
  }

  .show-button:hover {
    border: 1px solid var(--basic-greylight);
  }
}

@media (max-width: 1023px) {
  .form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 769px) {
  .form__show-btn {
    display: block;
  }

  .form__filter {
    margin-bottom: 20px;
  }

  .form__wrapper {
    flex-direction: column;
  }

  .is-closed {
    display: none;
  }
}
