.goods {
  margin-bottom: 70px;
}

.goods__list {
  display: grid;

  padding: 0;

  list-style: none;

  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.goods__catalog-list {
  display: grid;

  padding: 0;

  list-style: none;

  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.goods__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  max-width: 220px;
  padding-bottom: 21px;

  border: 1px solid var(--light-grey);
}

.goods__block {
  position: relative;

  width: 100%;
  margin: auto;
}


.goods__item img {
  margin: auto;
}

.new-good {
  position: relative;
}

.new-good::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 70px;
  height: 70px;

  content: '';

  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.goods__paragraph {
  font-family: PT Sans, 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;

  max-width: 157px;
  margin: 15px 0 0 0;

  text-align: center;

  color: var(--basic-black);
}

.goods__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goods__price-old {
  font-family: PT Sans, 'Arial', sans-serif;

  margin-bottom: 13px;

  text-align: center;

  color: var(--grey);

  text-decoration-line: line-through;
}

.goods__price {
  padding: 11px 38px 11px 30px;

  text-align: center;

  background-color: var(--basic-red);

  clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}

.goods__price p {
  font-family: PT Sans, 'Arial', sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;

  margin: 0;

  color: var(--basic-white);
}

.goods__hover {
  position: absolute;

  display: none;

  box-sizing: border-box;
  margin: 0;

  background-color: var(--basic-white);
}

.goods__btn-buy {
  font-size: 14px;
  line-height: 18px;

  position: relative;

  width: 135px;
  margin-bottom: 10px;
  padding: 10px 40px 10px 45px;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  color: var(--basic-white);
  border: none;
  outline: none;
  background-color: var(--basic-green);
  box-shadow: 0 3px 0 var(--buy-shadow);
}

.goods__btn-buy::before {
  position: absolute;
  top: 11px;
  left: 25px;

  width: 17px;
  height: 17px;

  content: '';

  opacity: .3;;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.goods__btn-buy:active {
  background-color: var(--green-click);
}

.goods__btn-bookmarks {
  font-size: 14px;
  line-height: 18px;

  width: 135px;
  padding-top: 11px;
  padding-bottom: 9px;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  color: var(--deeply-grey);
  border: 3px solid var(--basic-green);
  outline: none;
  background-color: var(--basic-white);
}

.goods__btn-bookmarks:active {
  opacity: .5;
  border: 3px solid var(--deeply-grey);
}

.goods__btn-buy,
.goods__btn-bookmarks {
  border-radius: 3%;
}

@media (max-width: 1023px) {
  .goods__list,
  .goods__catalog-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .goods__list,
  .goods__catalog-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .goods__item {
    max-width: 100%;
  }
}

@media (max-width: 769px) {
  .goods {
    margin-bottom: 30px;
  }

  .goods__list,
  .goods__catalog-list {
    display: flex;
    flex-direction: column;
  }

  .goods__item {
    margin-bottom: 20px;
  }

  .goods__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .goods__item:hover .goods__hover {
    top: -40px;
    left: 20%;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .goods__item:hover {
    box-shadow: 0 10px 20px var(--light-grey);
  }

  .goods__item:hover img {
    display: none;
  }

  .goods__btn-buy:hover {
    background-color: var(--green-success);
  }

  .goods__btn-bookmarks:hover {
    border: 3px solid var(--deeply-grey);
  }
}
