.goods {
  margin-bottom: 70px;
}

.goods__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  list-style: none;
  gap: 20px;
}

.goods__catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  list-style: none;
  gap: 20px;
}

.goods__item {
  border: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  padding-bottom: 21px;
}

.goods__block {
  margin: auto;
  position: relative;
  width: 184px;
}


.goods__item img {
  margin: auto;
}

.new-good {
  position: relative;
}

.new-good::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 149px;
  bottom: 246px;
}

.goods__paragraph {
  font-family: PT Sans, 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
  margin: 0;
  max-width: 157px;
}

del {
  color: var(--grey);
  font-family: PT Sans, 'Arial', sans-serif;
  text-align: center;
  margin-bottom: 13px;
}

.goods__price {
  clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  padding: 11px 38px;
  text-align: center;
  background-color: var(--basic-red);
}

.goods__price p {
  font-family: PT Sans, 'Arial', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0;
}

.goods__hover {
  display: none;
  position: absolute;
  background-color: var(--basic-white);
  box-sizing: border-box;
  margin: 0;
}

.goods__item:hover .goods__hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 15%;
  top: -40px;
}

.goods__item:hover {
  box-shadow: 0 10px 20px var(--light-grey);
}

.goods__item:hover img {
  display: none;
}

.goods__btn-buy {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-green);
  text-align: center;
  padding: 10px 40px 10px 45px;
  width: 135px;
  border: none;
  box-shadow: 0 3px 0 var(--buy-shadow);
  margin-bottom: 10px;
  outline: none;
  position: relative;
  cursor: pointer;
}

.goods__btn-buy::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 25px;
  top: 11px;
  opacity: 0.3
}

.goods__btn-buy:hover {
  background-color: var(--green-success);
}

.goods__btn-buy:active {
  background-color: var(--green-click);
}

.goods__btn-bookmarks {
  font-size: 14px;
  line-height: 18px;
  color: var(--deeply-grey);
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  width: 135px;
  outline: none;
  cursor: pointer;

}

.goods__btn-bookmarks:hover {
  border: 3px solid var(--deeply-grey);
}

.goods__btn-bookmarks:active {
  border: 3px solid var(--deeply-grey);
  opacity: 0.5;
}

.goods__btn-buy,
.goods__btn-bookmarks {
  border-radius: 3%;
}
