.heading {
  margin-bottom: 20px;
}

.heading__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 25px 14px 25px 29px;

  background-color: var(--basic-pink);
}

.heading__title {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;

  margin: 0;

  text-transform: uppercase;

  color: var(--deeply-grey);
}

.heading__btn {
  font-size: 14px;
  line-height: 18px;

  width: 192px;
  padding: 11px 24px 9px 24px;

  text-align: center;
  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--basic-red);
}


.heading__btn:hover {
  background-color: var(--red-buttonh);
}

.heading__btn:active {
  background-color: var(--red-buttona);
}

@media (max-width: 769px) {
  .heading__wrapper {
    padding: 10px 20px;
  }

  .heading__title {
    font-size: 15px;
    line-height: 15px;

    margin-right: 10px;
  }

  .heading__btn {
    font-size: 10px;

    width: 100px;
    padding: 10px 10px;
  }
}
