.header {
  margin-bottom: 60px;
  padding-bottom: 60px;

  background-color: var(--basic-background);
}

.header__navigation {
  display: flex;
  flex-direction: column;
}

.header__navigation-top {
  margin-bottom: 22px;

  background-color: var(--deep-grey);
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 1024px;
  margin: 0 auto;
  padding: 0 42px;
}

.header__logo-main {
  padding: 9px 56px;

  transition: .5s ease-in-out;

  background-color: var(--basic-red);
  box-shadow: 0 5px 0 0 var(--red-buttona);
}

.header__logo-main:active {
  background-color: var(--red-buttona);
}

.header__logo-main:hover {
  opacity: .8;
}

.header__button {
  font-size: 18px;
  line-height: 24px;

  padding: 9px 16px 9px 19px;

  cursor: pointer;
  user-select: none;
  transition: .5s ease-out;
  text-align: center;

  color: var(--basic-white);
  border: none;
  outline: none;
  background-color: var(--basic-green);

  justify-self: flex-end;
}

.header__button:hover {
  background-color: var(--green-success);
}

.header__button:active {
  color: var(--special-opacity);
  background-color: var(--basic-green);
}

.header__search {
  position: relative;

  max-width: 271px;
}

.header__menu {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header__search-label {
  position: absolute;
  bottom: 0;
  left: 0;

  opacity: 0;
}

.header__search input,
.header__search-button {
  border: none;
  outline: none;
}

.header__search input::-webkit-input-placeholder {
  color: var(--basic-white);
}

.header__search input::-moz-placeholder {
  color: var(--basic-white);
}

.header__search input {
  position: relative;

  height: 42px;
  padding: 0 0 0 5px;

  color: var(--basic-white);
  background-color: var(--deep-grey);
}

.header__search input:focus::-moz-placeholder {
  color: var(--basic-black);
}

.header__search input:focus::-webkit-input-placeholder {
  color: var(--basic-black);
}

.header__search input:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header__search input:focus ~ .search-button::after {
  opacity: 1;
  background-image: url(../img/icon-search-click.svg);
}

.header__search-button {
  position: absolute;
  top: 12px;
  left: -20px;

  width: 18px;
  height: 18px;

  cursor: pointer;

  background: transparent;
}

.header__search-button::after {
  position: absolute;
  top: 1px;
  left: 1px;

  width: 17px;
  height: 17px;

  content: '';
  transition: .5s ease-in-out;

  opacity: .5;
  background-image: url(../img/icon-search.svg);
}

.header__search-button:hover::after {
  opacity: 1;
}


.header__link {
  display: flex;
  flex-direction: row;

  padding-top: 9px;
  padding-bottom: 9px;

  color: var(--basic-white);
}

.header__link--bookmark {
  position: relative;

  padding-left: 43px;
}

.header__link:active {
  color: var(--special-opacity);
  background-color: var(--bookmark-grey);
}

.header__link--bookmark::before {
  position: absolute;
  top: 12px;
  left: 19px;

  width: 17px;
  height: 17px;

  content: '';
  transition: .5s ease-in-out;

  opacity: .3;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__link:hover::before {
  opacity: 1;
}

.header__link--basket {
  position: relative;

  margin-left: 5px;
  padding-left: 45px;
}
.header__link--basket::before {
  position: absolute;
  top: 12px;
  left: 20px;

  width: 17px;
  height: 17px;

  content: '';
  transition: .5s ease-in-out;

  opacity: .3;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__navigation-adress {
  display: grid;

  margin-bottom: 24px;

  grid-template-columns: 25% 1fr 1fr;
  gap: 20px;
}

.header__paragraph {
  padding: 20px 0 0 30px;
}

.header__paragraph p {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;

  box-sizing: border-box;
  max-width: 197px;
  margin: 0;

  text-align: left;

  color: var(--basic-red);
}

.header__adress-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 5px 8px 0 35px;
}

.header__phone {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;

  position: relative;

  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 5px 40px 5px 74px;

  transition: .5s ease-in-out;

  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.header__phone:hover {
  opacity: .6;
}

.header__phone::before {
  position: absolute;
  top: 12px;
  left: 40px;

  width: 18px;
  height: 19px;

  content: '';

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__adress-container p {
  font-size: 14px;
  line-height: 24px;

  align-self: flex-end;

  margin: 0;

  color: var(--deeply-grey);
}

.header__registration {
  padding: 25px 0 0 52px;
}

.header__btn {
  font-size: 21px;
  line-height: 21px;

  margin-right: 5px;
  padding: 12px 0;

  cursor: pointer;
  user-select: none;
  transition: .5s ease-in-out;
  text-align: center;

  color: var(--basic-black);
  border: none;
  outline: none;
  background-color: var(--basic-white);
}

.header__btn:last-of-type {
  margin-right: 0;
}

.header__btn--login {
  position: relative;

  padding-right: 27px;
  padding-left: 45px;
}

.header__btn--reg {
  position: relative;

  padding-right: 24px;
  padding-left: 24px;
}

.header__btn:hover {
  color: var(--basic-red);
}

.header__btn:active {
  color: var(--basic-greylight);
}

.header__btn--login::before {
  position: absolute;
  top: 13px;
  left: 19px;

  width: 20px;
  height: 17px;

  content: '';
  transition: .5s ease-in-out;

  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__btn--login:hover::before {
  background-image: url(../img/icon-login-hover.svg);
}

.header__btn--login:active::before {
  background-image: url(../img/icon-login.svg);
}

.header__sign {
  display: flex;
  flex-direction: column;
}

.header__sign p {
  margin: 0;
}

.header__username {
  font-size: 21px;
  line-height: 21px;

  padding: 12px 20px 12px 15px;

  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header__exit {
  padding: 12px 17px 12px 0;

  background-color: var(--basic-white);
}

.header__exit:hover .exit-icon {
  fill: var(--basic-grey);
}

.header__login {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  box-sizing: border-box;
  margin-left: 47px;
}

.header__login-link {
  font-size: 16px;
  line-height: 18px;

  margin-top: 7px;

  text-align: center;

  color: var(--deeply-grey);
}

.header__login-link:hover {
  color: var(--basic-red);
}

.header__username:active,
.header__login-link:active {
  color: var(--basic-greylight);
}

.header__menu-btn {
  display: none;
}

@media (max-width: 1023px) {
  .header__registration {
    display: flex;
    flex-direction: column;
  }

  .header__btn {
    margin: 0 0 10px 0;
  }

  .header__phone {
    font-size: 18px;
    line-height: 25px;

    width: 100%;
  }
}

@media (max-width: 990px) {
  .header__menu-btn {
    display: block;

    cursor: pointer;
    user-select: none;
    transition: .5s ease-in-out;

    border: none;
    outline: none;
    background: transparent;
  }

  .header__menu-btn:hover {
    opacity: .5;
  }

  .header__menu {
    display: none;
  }
}

@media (max-width: 930px) {
  .header__navigation-adress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__paragraph {
    flex-grow: 1;

    padding: 0;
  }

  .header__paragraph p {
    max-width: unset;

    text-align: center;
  }

  .header__adress-container {
    padding: 0;
  }

  .header__registration {
    padding: 0;
  }
}

@media (max-width: 769px) {
  .header__navigation-adress {
    align-items: center;
    flex-direction: column;
  }

  .header__registration {
    width: 100%;
  }

  .header__logo-main {
    padding: 12px 20px 0 20px;
  }
  .header__logo-main svg {
    width: 50px;
  }

  .header__search input {
    max-width: 100px;
    padding-left: 5px;
  }

  .header__search-button::after {
    display: none;
  }

  .header__wrapper {
    padding: 0 20px;
  }

  .header__username {
    font-size: 15px;
    line-height: 15px;
  }

  .header__login {
    display: flex;
    flex-direction: column;

    margin-left: 0;
  }
}
