
.manufactures__heading {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;

  background-color: var(--basic-pink);
}

.manufactures__link {
  font-size: 14px;
  line-height: 18px;

  align-self: center;

  max-width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;

  text-align: center;
  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--basic-red);
}


.manufactures__link:hover {
  background-color: var(--red-buttonh);
}

.manufactures__link:active {
  background-color: var(--red-buttona);
}

.manufactures__link {
  margin-right: 19px;
  padding-right: 38px;
  padding-left: 39px;
}

.manufactures__list {
  display: grid;

  margin-bottom: 70px;
  padding: 0;

  list-style: none;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.manufactures__item {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 220px;
  height: 145px;

  text-align: center;

  border: 1px solid var(--light-grey);
  background-color: var(--basic-white);
}

.manufactures__item:hover {
  box-shadow: 0 0 20px var(--light-grey);
}

.manufactures__item:active {
  opacity: .5;
}

@media (max-width: 1023px) {
  .manufactures__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .manufactures__item {
    justify-self: center;
  }
}

@media (max-width: 800px) {
  .manufactures__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .manufactures__item {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .manufactures__item img {
    width: 100px;
  }
}
