.navigation__list {
  display: grid;

  margin: 0;
  padding: 16px 18px 16px 23px;

  list-style: none;

  background-color: var(--deeply-grey);
  box-shadow: 0 5px 0 0 var(--deep-grey);

  grid-template-columns: repeat(7, 1fr);
  row-gap: 30px;
}

.navigation__link {
  padding: 17px 29px 22px 29px;

  list-style: none;

  text-align: center;

  color: var(--basic-white);
}

.navigation__link:hover {
  background-color: var(--deep-grey);
}

.navigation__link:active {
  opacity: .5;
  color: var(--basic-white);
  background-color: var(--header-grey);
}

@media (max-width: 1024px) {
  .navigation__list {
    padding: 10px 20px;

    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
  }

  .navigation__item {
    display: flex;
    align-items: center;
  }

  .navigation__link {
    width: 100%;
    padding: 10px 29px;

    text-align: start;
  }
}

@media (max-width: 769px) {
  .navigation__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }

  .navigation__link {
    font-size: 15px;

    padding: 5px 10px;
  }
}
