.sort {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 28px ;
  padding: 10px 17px 10px 19px;

  background-color: var(--special-light);
}

.sort__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort__filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort__title {
  font-family: PT Sans, 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;

  margin: 0;

  text-transform: uppercase;

  color: var(--basic-black);
}

.sort__label {
  font-family: PT Sans, 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;

  margin-left: 65px;

  text-decoration: underline;
  text-transform: uppercase;

  color: var(--opacity-black);

  text-decoration-color: var(--basic-red);
  text-decoration-style: dotted;
}

.sort__radio {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.sort__radio:checked + label {
  text-decoration: none;

  color: var(--basic-red);
}

.sort__btns {
  margin-left: 45px;
}

.sort__button {
  cursor: pointer;
  user-select: none;

  border: none;
  outline: none;
  background-color: transparent;
}

.sort__link:hover {
  text-decoration: underline;

  color: var(--basic-black);

  text-decoration-color: var(--basic-red);
}

.sort__link:focus {
  text-decoration: none;

  color: var(--basic-red);
}
